@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
  --strong-blue: #022639;
  --strong-red: #c50f3c;
  --light-blue: #24485a;
  --light-red: #f83c6f;
}

html{
  margin:0;
}

body {
  width:100%;
  margin:0;
  font-family: 'Playfair Display', Arial;
  color:var(--strong-blue);
  display:hidden;
  background-color: var(--strong-blue);
}

/* globals */

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.left-aligned {
  justify-content: flex-start;
}

/* inputs */

input {
  display:block;
}

input[type="radio"] {
  display:none;
}

label {
  display:block;
  font-size:1.5em;
  margin:0.2em 0;
  padding:0.4em;
  background-color:var(--light-blue);
  border-radius:5px;
  color:#eee;
}

.chosen {
  background-color: var(--strong-red);
}

label:hover {
  cursor:pointer;
  background-color: var(--strong-red);
}

input[type="text"] {
  border:none;
  border-bottom:2px solid black;
  width:70%;
  margin:1em 0;
  font-family:'Playfair Display';
  font-size:1.5em;
}

input[type="text"]:focus{
  outline:none;
  background-color:#ddd;
}

#other-input{
  display:inline;
  font-size:1.2em;
  background-color:var(--light-blue);
  color:#ddd;
}

/* container */

.container {
  margin:0 auto;
  width:60%;
}

/* header */

#header {
  top:0;
  width:100%;
  padding:2em 3em;
  box-sizing: border-box;
}

#header img {
  width:20%;
}

/* form */

.form-section {
  position:relative;
  width:100%;
  min-height:500px;
  height:80vh;
}

.form-card {
  position:relative;
  background-color:white;
  width:100%;
  padding:2em;
}

.form-section h1 {
  font-size:3em;
  margin-left:0.7em;
}

.check-box {
  fill:black;
}

.check {
  display:none;
  fill:var(--strong-red);
}

.next-button {
  border:none;
  background-color:white;
  color:var(--light-blue  );
  border-radius:3px;
  font-family:inherit;
  font-size:1.5em;
  margin:0 auto;
  margin-top:1em;
}

.next-button:hover {
  cursor:pointer;
}

.next-button:disabled{
  color:#777;
}

.next-button:disabled:hover {
  cursor:default;
}

.next-button svg {
  fill:var(--strong-blue);
  display:none;
  margin-left: 0.2em;
  transform:scale(-1,1)
}

.next-button:enabled svg {
  display:block;
}
