@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
  --strong-blue: #022639;
  --strong-red: #c50f3c;
  --light-blue: #24485a;
  --light-red: #f83c6f;
}

html, body {
  height: 100%;
  margin:0
}

body {
  width:100%;
  font-family: 'Poppins', Arial;
  color:var(--strong-blue);
}

/* globals */

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.left-aligned {
  justify-content: flex-start;
}

.no-wrap{
  flex-wrap:nowrap;
}

/* inputs */

input {
  display:block;
  font-family: 'Shadows Into Light';
}

select {
  font-size:1.5em;
  font-family:inherit;
}

input[type="radio"] {
  display:none;
}

label {
  display:block;
  font-size:1.3em;
  margin:0.2em 0;
  padding:0.4em;
  background-color:var(--light-blue);
  border-radius:5px;
  color:#eee;
}

.chosen {
  background-color: var(--strong-red);
}

label:hover {
  cursor:pointer;
  background-color: var(--strong-red);
}

input[type="text"], input[type="email"], input[type="tel"] {
  border:none;
  border-bottom:2px solid black;
  width:90%;
  margin:1em 0;
  font-size:1.5em;
}

input[type="text"]:focus{
  outline:none;
  background-color:#ddd;
}

#other-input{
  margin:0;
  display:inline;
  font-size:1.2em;
  background-color:inherit;
  color:inherit;
}

#other-input::placeholder{
  color:inherit;
  opacity:0.9;
}

/* initial display */

@media only screen and (max-width:1000px) {
  #initial-display-box h1 {
    font-size: 8vw !important;
  }

  #state-outline {
    width:27% !important;
    left: 15% !important;
  }

  #begin {
    font-size:5vw !important;
  }
}

@media only screen and (max-width:700px) {
  #initial-display-box h1 {
    font-size:11vw !important;
  }

  #state-outline {
    display:none;
  }

  #voice-header {
    left: 19.7% !important;
  }

  #hope-header {
    left:23.7% !important;
  }

  #begin-box {
    bottom:20%;
  }

  #begin {
    font-size: 6vw !important;
  }
}

@media only screen and (max-width:600px) {
  #begin-box {
    bottom: 20% !important;
  }
}

@media only screen and (max-width:500px) {

  #begin {
    font-size: 8vw !important;
  }
}

#initial-display-box {
  position:absolute;
  width:100%;
  min-height:500px;
  height:100%;
  /* background-color: var(--strong-blue); */
  background-image:
    linear-gradient(
      to bottom right,
      var(--strong-blue) 10%,
      var(--light-blue)
    );
  z-index:3;
  color:white;
  overflow:hidden;
}

#state-outline {
  position:absolute;
  width:20%;
  top:44%;
  left:20%;
  opacity:0;
}

#initial-display-box h1 {
  margin:0;
  position:absolute;
  font-size:6.5vw;
}

/* #voice-header {
  position:absolute;
  top:-200px;
}

#vote-header {
  position:absolute;
  left: -500px;
}

#hope-header {
  position: absolute;
  top: 10%;
  left:-700px;
} */

#voice-header {
  position:absolute;
  top:-20%;
  left:23%;
}

#vote-header {
  position:absolute;
  left: -55%;
  top: 30%;
}

#hope-header {
  position: absolute;
  bottom:-20%;
  left:47%;
}

#begin-box {
  position:absolute;
  bottom:10%;
  width:100%;
}

#begin {
  opacity:0;
  border:none;
  color: white;
  background-color: inherit;
  font-family:inherit;
  font-size:3vw;
  margin:0 auto;
}

#begin:hover {
  cursor:pointer;
  text-shadow: 3px 3px 3px black;
}

#begin svg {
  margin-left:0.6em;
}

/* background */

.background {
  z-index: -1;
  position:fixed;
  top:0;
  left:0;
  margin:0;
  width:100vw;
  height:100%;
  max-height: 100%;
  background: url('../images/south-carolina-flag.png');
  background-size: contain;
  box-sizing: border-box;
  filter: blur(7px) grayscale(50%);
}

/* container */

.container {
  width:100%;
  display:none;
  opacity:0;
}

/* header */

@media only screen and (max-width:900px) {
  #header img {
    width:34% !important;
  }
}

@media only screen and (max-width:600px) {
  #header img {
    width:52% !important;
  }
}

#header {
  position:relative;
  z-index:4;
  top:0;
  width:100%;
  padding:2em 3em;
  box-sizing: border-box;
}

#header img {
  width:20%;
}

/* form */

@media only screen and (max-width:900px) {
  .check-box {
    width:5em !important;
  }

  .form-section h1 {
    font-size:2.2em !important;
  }

  input[type="text"], input[type="tel"], input[type="email"] {
    font-size: 1.2em !important;
  }
}

@media only screen and (max-width:650px) {

  .form-section h1 {
    font-size: 1.9em !important;
  }

  label {
    font-size: 1.1em !important;
  }
}

#visible-form {
  width:100%;
}

.form-section {
  display:none;
  position:relative;
  width:100%;
  min-height:500px;
  height:100vh;
}

#sec-name {
  background: var(--strong-red);
  display:flex;
  margin-top: -4em;
}

#sec-reason {
  background: var(--strong-blue);
}

#sec-how {
  background: var(--strong-red);
}

#sec-address {
  background: var(--strong-blue);
}

.form-card {
  box-sizing: border-box;
  position:absolute;
  background-color:white;
  width:75%;
  margin:0 auto;
  padding:1em 2em;
  max-height:100%;
}

.form-section h1 {
  font-size:3em;
  margin-left:0.7em;
}

.check-box {
  display:inline;
  fill:var(--strong-blue);
}

.check {
  display:none;
  fill:var(--strong-red);
}

.next-button {
  border:none;
  background-color:white;
  color:var(--light-blue  );
  border-radius:3px;
  font-family:inherit;
  font-size:1.5em;
  margin:0 auto;
  margin-top:1em;
}

.next-button:hover {
  cursor:pointer;
}

.next-button:disabled{
  color:#777;
}

.next-button:disabled:hover {
  cursor:default;
}

.next-button svg {
  fill:var(--strong-blue);
  display:none;
  margin-left: 0.2em;
  transform:scale(-1,1)
}

.next-button:enabled svg {
  display:block;
}

#submit{
  margin-top:1em;
  margin:0 auto;
  border:none;
  background-color:inherit;
  color:var(--light-blue);
  border-radius:3px;
  font-family:inherit;
  font-size:1.5em;
}

/* footer */

@media only screen and (max-width:900px) {
  #footer img {
    width:30% !important;
  }
}

#footer {
  margin-top:5em;
  padding-top:2em;
  bottom:0;
  width:100%;
  background-color: var(--strong-blue);
}

#footer img {
  width:20%;
}

#paid-footer {
  padding:0.5em;
  margin:2.7em 0;
  border:2px solid var(--light-blue);
  font-family:Poppins;
  font-size:100%;
  text-align:center;
  color:var(--light-blue);
  max-width:70%;
}

#paid-footer p {
  margin:0;
}

/* display box */

@media only screen and (max-width:800px) {
  #buttons a {
    font-size:1em !important;
  }
}

@media only screen and (max-width:680px) {
  #graphic-box {
    flex-direction: column-reverse !important;
  }

  #buttons {
    margin-left:0 !important;
  }

  #social-buttons {
    flex-direction: row;
    margin-bottom:1em;
  }
}

#display-box {
  width:100%;
}

#thank-you {
  color:white;
  font-size:5em;
  margin:0;
  margin-bottom:0.3em;
}

#display-box h1 {
  margin-bottom:0;
}

#display-box h2  {
  margin-bottom:2em;
  color:#dedede;
  width:50%;
  text-align: center;
}

#display-box h3 {
  color:white;
}

#pledge-graphic {
  width:45%;
  filter: drop-shadow(10px 10px 10px black);
}

/* override fabric's display */
.lower-canvas{
  display:none;
}

#buttons {
  margin-left: 4em;
}

#buttons a {
  padding:0.7em 1.3em;
  color:white;
  text-decoration: none;
  transition: 0.2s ease filter;
  text-align: center;
  font-size:1.5em;
  width:9em;
}

#buttons a:hover {
  filter: brightness(1.4) drop-shadow(4px 4px 4px black);
}

#buttons a svg {
  margin-right:0.4em;
}

#download {
  background-color:var(--strong-red);
}

#tweet {
  background-color: #00acee;
}

#share {
  background-color:#3b5998;
}
